<h2>About Me</h2>
<p style="text-align:justify">My name is Lovira L. Putri.
  I am a Master of Applied Cybernetics student at the Australian National University.</p>

<h2>This is my Build Journey!</h2>
</ul>

<h3> First Checkpoint</h3>

<h4>The first skill I hope to develop throughout this course is (more) Python
  specifically, <b>Python for text data analysis and creative computing.</b>
</h4>

<h4>Why:
<ul>
  <h4>Professional/Academic:</h4>
    <p>My research interests lie at the intersection of Cultural Analytics, Digital Humanities and Library/Information Science. The specifics are still TBD, but I just know for sure that in terms of methodology,  I will incorporate python as a tool.</p>
    <p> 		It is one of the widely used programming languages in cultural analytics and digital humanities.</p>
  
  <h4>Personal:</h4>
  <p>My goal is to explore my creative abilities during my time at SoCy, utilizing the school's available resources.</p>
  <p>	I think creative endeavours should not be weighed less than empirical/scientific endeavour. Rather, it should complement each other.</p>
  <p>I hope that by cultivating my creative side, it will have an impact on the way I approach problems in my future research and daily life, by providing inspiration or new perspectives.</p>

</ul>

</h4>
</h4>


<hr/>


<h2> Where to find me: </h2>
<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="mailto:lovira08@gmail.com?subject=hello">Email</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/lovira">GitHub Repository</a>
  </li>
</ul>
