<h2>About Me</h2>
<p style="text-align:justify">My name is Lovira L. Putri.
  I am an undergraduate student at the University of British Columbia,
  where I study Cognitive Systems $$$ </p>

<h2>More on what I do: </h2>
<ul>
  <li><a href="https://medium.com/@lovira">My Writing Portfolio</a></li>
</ul>



<hr />

<h2> Where to find me: </h2>
<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="mailto:lovira08@gmail.com?subject=hello">Email</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/lovira">GitHub Repository</a>
  </li>
  <li class="main-list-item">

</ul>
