<h2>About Me</h2>
<p style="text-align:justify">My name is Lovira L. Putri.
  I am a Master of Applied Cybernetics student at the Australian National University.</p>

<h2>This is my Build Journey!</h2>
</ul>

<h3> First Checkpoint</h3>

<p>The first skill I hope to develop throughout this course is (more) Python
  specifically, <b>Python for text data analysis and creative computing.</b>
</p>

<h4>Why Python for text data analysis and creative computing:</h4>
<ul>
  <li><h4>Professional/Academic:</h4></li>
  <p style="text-align: justify;"> I am interested in researching the intersection of Cultural Analytics, Digital Humanities, and Library/Information Science. 
    While the details of my specific research topics are still undetermined, I am certain that I will use Python as a tool in my methodology. 
    Python is widely used in both cultural analytics and digital humanities, and I believe it will be instrumental in conducting my research.
  </p>
  <li><h4>Personal:</h4></li>
  <p style="text-align: justify;">My goal is to explore my creative abilities during my time at SoCy, utilizing the school's available resources. I think creative endeavours should not be weighed less than empirical/scientific endeavour. Rather, it should complement each other.
    I hope that by cultivating my creative side, it will have an impact on the way I approach problems in my future research and daily life, by providing inspiration or new perspectives.</p>
</ul>

</ul>
<h4>
  Current Python experience and skill level:
</h4>
<p>My current skill level is beginner-intermediate.</p>
<p>Prior coming to the School of Cybernetics, I had experience with: </p>
<ul>
  <li> Data Analysis</li>
  <li>Behavioral data analysis using MNE-Python package</li>
  <li>Basic text data manipulation using NLTK</li>
  <li>Self-taught Python for Digital Humanities online modules, which involved:
    <ul>
      <li>Manipulating strings</li>
      <li>Working with .txt data (files, frequency distributions, plots, regex, and web scraping)</li>
    </ul>
  </li>
</ul>

<h4>End Goal</h2>
<p>By the end of the course, I hope to:</p>
<ul>
    <li>Create a portfolio showcasing my artistic work</li>
    <li>Develop a strong foundation in Python to prepare for my PhD and future research</li>
    <li>Acquire intermediate-level skills in text data analysis using Python</li>
    <li>Gain intermediate-level skills in NLP and its applications in cultural analytics, digital humanities, and information science.</li>
</ul>


<h2>The Journey, So Far </h2>
<h3><i>Machine Yearning</i></h3>
<p>
  I was able to explore creative computing for the first time during the first fortnight through the question #4 of the BUILD homework.
</p>
<p>My motivation for the process stemmed from a yearning for the past-- triggered by revisiting a journal entry I had written weeks prior to leaving for Canberra.</p>
<p>After revisiting my journal entry,  I  was compelled to write a poem.</p>

<code style="text-align: center;">
  <p><em>in between,</em><br>
    <em>the Lover surrenders</em><br>
    <em>to the graceful gaze</em><br>
    <em>a touch that weaves in waves of rush</em><br>
    <em>coveted by poets and writers alike</em></p>
    <p><em>by the blessings of Tenth Muse of Lesbos,</em><br>
    <em>the Lovers dance</em><br>
    <em>burning wood and chestnut smell up north,</em><br>
    <em>in a trance</em><br>
    <em>snowfall,</em><br>
    <em>burying the entrance</em></p>
    <p><em>pang!</em><br>
    <em>time is up</em><br>
    <em>at her peak,</em><br>
    <em>the moon is now frozen</em><br>
    <em>in between,</em><br>
    <em>is now out of bounds for the Lovers</em></p>
    <p><em>Beloved,</em><br>
    <em>until then</em><br>
    <em>haunt me</em><br>
    <em>haunt me</em><br>
    <em>haunt me</em><br>
    <em>haunt me</em><br>
    <em>haunt me</em><br>
    <em>haunt me</em><br>
    <em>haunt me</em><br>
    <em>haunt me</em><br>
    <em>haunt me</em><br>
    <em>haunt me</em></p>
</code>


<p>As part of the Fortnight 1 homework, we were given the task of creating a drawing with no specific guidelines, allowing for creativity. I chose to incorporate my own poem into my submission, and began thinking about how I wanted to represent the text visually. </p>
<p>I quickly realized that manually plotting each letter using the Latin alphabet would be too time-consuming, so I looked for an alternative method that would allow me to represent the poem with minimal code. Eventually, I settled on using ASCII representation, where each letter is represented by pairs of zeroes and ones. To do this, I created a function to plot zero and one, and then created functions to plot each of the four possible pairs: 00, 01, 10, and 11.</p></p>

<hr/>


<h2> Where to find me: </h2>
<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="mailto:lovira08@gmail.com?subject=hello">Email</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/lovira">GitHub Repository</a>
  </li>
</ul>
